.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.94rem;
    margin-bottom: 6.33rem;
}

.SearchBar input {
    font-family: 'poppins';
    width: 287px;
    padding: .88rem 0;
    border: 3px solid #3da8e6;
    border-radius: 54px;
    margin-top: -2rem;
    margin-bottom: 2rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
}

.SearchBar input:focus {
    outline: none;
    border: 3px solid #22648a;
}

.SearchButton {
    font-family: 'poppins';
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    margin-bottom: -4rem;
    border-radius: 54px;
    background-color: #010c3f;
    text-align: center;
    font-size: 1rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 3px 3px 2px #000000;
}

.SearchButton:hover {
    background-color: #3785ce;
}